.video-box {
  display: none;
  flex: 1 1 calc(50% - 20px); /* Two videos per row */
}

video {
  width: 100%;
  aspect-ratio: 16 / 9; /* Keeps 2560x1440 ratio */
  max-width: 100%;
  border-radius: 12px;
  object-fit: cover;
}


